<a href="https://colab.research.google.com/github/manasathirumalareddy/python_fundamentals/blob/main/class_38%2C39%2C40.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# class 38 fibonacci sequence
0 1 1 2  3 5 8 13 21 .....
if u add the frst two numbers will get the third value and by adding like that to the next number is called fibonacci sequence.

In [ ]:
def fib(n):
  a = 0
  b = 1
  print(a)
  print(b)
  for i in range(2,n):
    c = a+b
    a = b
    b = c
    print(c)
fib(5)

0
1
1
2
3

In [ ]:
def fib(n):
  a = 0
  b = 1
  if n == 1:
    print(a)
  else:
    print(a)
    print(b)
    for i in range(2,n):
      c = a+b
      a = b
      b = c
      print(c)
fib(1)

0

# class 39 factorial of a number
5! = 5*4*3*2*1

In [ ]:
def fact(n):
  f = 1
  for i in range(1,n+1):
    f = f*i
  return f

x = 4
result = fact(x)
print(result)

24

In [ ]:
x = 4
result = fact(x)
print(result)

24

# class 40 recurrsion
recurrsion means calling the function itself.the limit is only 1000 we cannot ho beyond that

In [ ]:
def greet():
  print("hello")
greet()

hello

In [ ]:
import sys
print(sys.getrecursionlimit())
def greet():
  print("hello")
  greet()

1000

In [ ]:
import sys
sys.setrecursionlimit(2000)
print(sys.getrecursionlimit())
def greet():
  print("hello")
  greet()

2000