<a href="https://colab.research.google.com/github/manasathirumalareddy/python_fundamentals/blob/main/class_41%2C42%2C43.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 41 factorial using recursion n*fact(n-1)
fact(5) 5*4!,fact(4) 4*3!,fact(3) 3*2!,fact(2) 2*1!, fact(1) 1*0!,0! = 1

In [ ]:
def fact(n):
  if n == 0:
    return 1

  return n * fact(n-1)
result = fact(5)
print(result)

120

# 42 anonymous function lambda
A function without a function name is known as an Anonymous function.
- Anonymous function is called a lambda function.We have to use the lambda keyword to directly define the function in one line.
- We need to store the lambda function in a variable as the function is also an object.We have to use the lambda keyword to directly define the function in one line.
- We need to store the lambda function in a variable as the function is also an object.

In [ ]:
def square(a):
  return a*a
result = square(5)
print(result)

25

In [ ]:
f = lambda a : a*a
result = f(5)
print(result)

25

In [ ]:
f = lambda a,b : a+b
result = f(5,6)
print(result)

11

# class 43 filter,map,reduce
filter take two arguments which is function,iterable.map : it takes the value and apply some operation and then we can reduce.map takes 2 arguments (function,iterable).reduce belongs to the module called function tools. reduce also takes 2 things function,sequence.

In [ ]:
def is_even(n):
  return n%2==0
nums = [3,4,6,7,8,9,4,1,2]
evens = list(filter(is_even,nums))
print(evens)

[4, 6, 8, 4, 2]

In [ ]:
nums = [3,4,6,7,8,9,4,1,2]
evens = list(filter(lambda n : n%2==0,nums))
print(evens)

[4, 6, 8, 4, 2]

In [ ]:
nums = [3,4,6,7,8,9,4,1,2]
evens = list(filter(lambda n : n%2==0,nums))
doubles = list(map(lambda n : n*2,evens))
print(doubles)

[8, 12, 16, 8, 4]

In [ ]:
from functools import reduce
def add_all(a,b):
  return a+b
nums = [3,4,6,7,8,9,4,1,2]
evens = list(filter(lambda n : n%2==0,nums))
doubles = list(map(lambda n : n*2,evens))
sum = reduce(add_all,doubles)


print(sum)

48

In [ ]:
from functools import reduce

nums = [3,4,6,7,8,9,4,1,2]
evens = list(filter(lambda n : n%2==0,nums))
doubles = list(map(lambda n : n*2,evens))
print(doubles)
sum = reduce(lambda a,b:a+b,doubles)
print(sum)

[8, 12, 16, 8, 4]
48