<a href="https://colab.research.google.com/github/manasathirumalareddy/manasathirumalareddy/blob/main/class_10%2C11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# class 10 data types
none,numeric,*list,tuple,set,string,range(sequence),*dictionary/map.**None**:a variable not assigned any value.**Numeric:**4 types int,float,complex,bool.complex means a+bj ex:6+9j,j represented by square root -1.complex means number and + or - imaginary number.boollian type means true or false.true means 1 and false means 0.lst=[23,45,67],**range **will give the values upto the last number.range will contain 3 values to give odd number or even from till the number.mapping has keys having values.in dictionary ex:d={'navin':'samsung','rahul':'iphone','kiran':'oneplus'}.
we use square brackets in specifying key to get value.d['rahul']or d.get('kiran').

In [ ]:
range(0,10)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(2,10,2))

[2, 4, 6, 8]

# class 11 operators
arithmatic operators,assignment operators,relational operators,logical operators,unary operator.**arithmatic** means add,sub,mul,div,modlus.**assignment** means equal to = ex:x=x+2 then x is 4.unary operator can give negative sign by giving -.**relational **operators when comparing two variables we should give == symbol to relate or compare the values <=,>=,!=,==.**logical** operators(and,or,not)
truth table for and , or
x y c               x y c         
0 0 0               0 0 0
0 1 0               0 1 1
1 0 0               1 0 1
1 1 1               1 1 1
not will give reverse to output.
x=true
x
true
not x
false
x=not x
x
false

In [ ]:
x=2
y=3
x=x+2
x

4

In [ ]:
x=2
y=3
x=x+2
x +=2
x

6

In [ ]:
a,b=5,6
a

5

In [ ]:
a,b=5,6
b

6

In [ ]:
a=5
b=4
a<8 and b<5

True