<a href="https://colab.research.google.com/github/manasathirumalareddy/python_fundamentals/blob/main/class_32%2C33%2C34.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# class 32 functions
in function we should follow the syntax def and a function name with ()and a semi colon:only if u call a function it will give u output u can call the function many times when ever u want.u can create multiple functions and we can call as many times we want.function has 2 types it will perform the task and will return the value something.we should use return .the value save in a module called result.from one function we can return multilpe values like add and sub.function is a block ehere u will have one task . separate function has separate task.

In [ ]:
def greet():
  print("hello")
  print("good morning")
greet()

hello
good morning

In [ ]:
def add_numbers():
  print("mansi")
add_numbers()

mansi

In [ ]:
def add(x,y):
  c = x+y
  print(c)
add(5,4)

9

In [ ]:
def add(x,y):
  c = x+y
  return c

result = add(5,4)
print(result)

9

In [ ]:
def add_sub(x,y):
  c = x+y
  d = x-y
  return c,d
result1,result2 = add_sub(5,4)
print(result1,result2)

9 1

# class 33 function arguments(mutable,immutable)
pass by value and pass by reference means passing the address

In [ ]:
def update(x):
  x = 8
  print(x)
update(10)

8

In [ ]:
def update(x):
  x = 8
  print("x",x)

a = 10
update(10)
print("a",a)

x 8
a 10

In [ ]:
def update(x):
  print(id(x))
  x = 8
  print("x",x)

a = 10
print(id(a))     a 10 x 10
update(10)
print("a",a)

135368663581200
135368663581200
x 8
a 10

In [ ]:
def update(x):
  print(id(x))
  x = 8
  print(id(x))
  print("x",x)

a = 10
print(id(a))
update(10)                 a 10 x 8
print("a",a)

135368663581200
135368663581200
135368663581136
x 8
a 10

In [ ]:
def update(lst):
  print(id(lst))
  lst[1] = 8
  print(id(lst))
  print("lst",lst)

lst = [10,20,30]
print(id(lst))
update(lst)
print("lst",lst)

135367623851008
135367623851008
135367623851008
lst [10, 8, 30]
lst [10, 8, 30]

# class 34 types of arguments
formal arguments which are a,b and actual arguments are 5,6.actual arguments are 4 types position,keyword,default,,variable length.keyword means mentionin a variable name like age=24,name=manasa.if you are not passing a value it will take default value.varible length in which first parameter is fixed and the remaining can be more than 1 then we should give *b.

In [ ]:
def add(a,b):
  c = a+b
  print(c)
add(5,6)

11

In [ ]:
def person(name,age):
  print(name)
  print(age)
person('manasa',24)

manasa
24

In [ ]:
def person(name,age):
  print(name)
  print(age)
person(age=24,name='manasa')

manasa
24

In [ ]:
def person(name,age=18):
  print(name)
  print(age)
person('manasa')

manasa
18

In [ ]:
def person(name,age=18):
  print(name)
  print(age)
person('manasa',24)

manasa
24

In [ ]:
def sum(a,b):
  c = a+b
  print(c)
sum(3,5)

8

In [ ]:
def sum(a,*b):
  c = a
  for i in b:
    c = c + i
  print(c)

sum(3,5,56,78)

142

In [ ]:
def sum(a,*b):
  print(a)
  print(b)
sum(4,5,67,68)

4
(5, 67, 68)

In [ ]:
def sum(*b):
  c = 0
  for i in b:
    c = c + i
  print(c)

sum(3,5,56,78)

142