<a href="https://colab.research.google.com/github/manasathirumalareddy/python_fundamentals/blob/main/class_24%2C25%2C26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# class 24 : for else in python

In [ ]:
nums=[12,34,67,15]
for num in nums:
  if num % 5 == 0:
    print(num)

15

In [ ]:
nums=[10,25,34,67,15]
for num in nums:
  if num % 5 == 0:
    print(num)
    break

10

In [ ]:
nums=[11,24,34,67,14]
for num in nums:
  if num % 5 == 0:
    print(num)
    break
else:
    print("not found")

not found

# class 25 prime number in python
prime number means which is divisble by 1 and itself(7,13,19)

In [ ]:
num=7
for i in range(2,num):
  if num % i == 0:
    print("not prime")
    break
else:
  print("prime")

prime

In [ ]:
num=8
for i in range(2,num):
  if num % i == 0:
    print("not prime")
    break
else:
  print("prime")

not prime

# class 26 array in python:
array is similar to list but should have same type either int or float.they dont have specific size.i means signed int,I means unsigned intezer.Buffer info gives size of the array(address,size).for characters we should use u letter.from array we can construct newarray of same code by usingvals.typecode,(a for a in vals)

In [ ]:
from array import *
vals = array('i',[23,5,6,8])
print(vals)

array('i', [23, 5, 6, 8])

In [ ]:
from array import *
vals = array('i',[23,-5,6,8])
print(vals)

array('i', [23, -5, 6, 8])

In [ ]:
from array import *
vals = array('I',[23,-5,6,8])
print(vals)

OverflowError: ignored

In [ ]:
from array import *
vals = array('i',[23,5,6,8])
print(vals.buffer_info())

(134767541110176, 4)

In [ ]:
from array import *
vals = array('i',[23,5,6,8])
vals.reverse()
print(vals)

array('i', [8, 6, 5, 23])

In [ ]:
from array import *
vals = array('i',[23,5,6,8])

for i in range(4):
  print(vals[i])

23
5
6
8

In [ ]:
from array import *
vals = array('i',[23,5,6,8])
for e in vals:
  print(e)

23
5
6
8

In [ ]:
from array import *
vals = array('u',['a','e','i'])
for e in vals:
  print(e)

a
e
i

In [ ]:
from array import *
vals = array('i',[23,5,6,8])
newArr = array(vals.typecode,(a for a in vals))
for e in newArr:
  print(e)

23
5
6
8

In [ ]:
from array import *
vals = array('i',[23,5,6,8])
newArr = array(vals.typecode,(a*a for a in vals))
for e in newArr:
  print(e)

529
25
36
64

In [ ]:
from array import *
vals = array('i',[23,5,6,8])
newArr = array(vals.typecode,(a for a in vals))
i=0
while i<len(newArr):
  print(newArr[i])
  i+=1

23
5
6
8

In [ ]:
from array import *
vals = array('i',[34,67,89,65,35])

for e in range(5):
  print(vals.buffer_info())

(134767537458576, 5)
(134767537458576, 5)
(134767537458576, 5)
(134767537458576, 5)
(134767537458576, 5)

In [ ]:
array = [4,6,2,4,7,8]
sorted_array = sorted(array)
print(sorted_array)

[2, 4, 4, 6, 7, 8]