<a href="https://colab.research.google.com/github/manasathirumalareddy/manasathirumalareddy/blob/main/python_class_3%2C4%2C5%2C6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# class 3 operators
2.0
2 integers
.0 float value
5//2 double slash will give integer value
** power
(2+3)*3
brackets will add then multipy
% module will give reminder value 10/3 will give 1
string (combination of characters) in single or double coats
function print is inbuilt
\ will remove the single coat in string
10 * name it will give name 10 times
\n has special meanining means new line
raw string (r)used not to convert into new line

In [ ]:
2+3

5

In [ ]:
10*3

30

In [ ]:
7//2
print('navin\'s "laptop"')

navin's "laptop"

In [ ]:
print(r'c:\docs\navin')

c:\docs\navin

In [ ]:
print('c:\docs\navin')

c:\docs
avin

# class 4 : **variables**
variable is a container where we used to store value.
x=2.
underscore _is used to use the output of the previous operation
ex 19 is the previous output _ + y = 19+y.
string variable name = 'youtube'[YOUTUBE]0123456,name[0] gives 'y'.name[-1]gives 'e'.when we give -num it will start from right to left from last.name[0:2] gives'yo'[1;4]gives'out'.
strings in python is immutable[cannot be changed]
length is the inbuilt function we can know the length of string ex:myname = 'navin reddy' len(myname) ans 11

In [ ]:
myname = 'divya manasa'
len(myname)

12

In [ ]:
x=2
y=5
x+y
_+5

12

In [ ]:
name = 'youtube'
name[0]
name[6]
name[0:4]

'yout'

In [ ]:
name = 'youtube'
name[-1]

'e'

# class 5 list
square brackets nums=[25,45,76,87] nums[0]=25,nums[2]=76,nums[-1]=87.
names=['manasa','vamsi','mansi']
values=[9.5,'manasa',25] we can have integers,string,float in list.
mil = [nums,names].list is mutable.
list has append which add value at last,pop to remove the value(1
),nums.insert(2,77)77 was addes in number 2 (25,45,77,76,87),remove(76),will get(25,45,77,87),pop() if any index number is not given it will remove the vslue from the last.del nums [2:] (25,45)nums.extend to add multiple values[29,12,14,36][25,45,29,12,14,36]
min(nums) 12
max(nums)45,nums.sort it will sorted

In [ ]:
nums = [25,65,87,56]
nums
names = ['manasa']
names
mil = [nums,names]
mil

[[25, 65, 87, 56], ['manasa']]

In [ ]:
nums = [32,35,67,68,32]
nums

[32, 35, 67, 68, 32]

In [ ]:
nums=[57,97,67]
nums.sort
nums

[57, 97, 67]

# class 6 tuple ,set
tuple is immutable , count and index.count gives the number repeated how many times.tuple uses round brackets.
set:collection of elements.curly brackets
in set there is no proper sequence.index number is not supported due to no proper sequence.it will not support duplicate value if the number is repeated it give only once.set has unique values

In [ ]:
tup = (21,36,14,25)
tup

(21, 36, 14, 25)

In [ ]:
tup = (25,36,87,57)
tup[1]

36

In [ ]:
s={34,57,56,86}
s

{34, 56, 57, 86}

In [ ]:
s={56,78,23,67,56}
s

{23, 56, 67, 78}

# class 7 Dictionary
curly brackets,data is dictionary
we should use key should be immutable&unique we can use string or nums and value
data = {1:'manasa',2:'vamsi',4:'mansi'}
ex we can take list or set
list is taken as example
keys=['manasa','vamsi','mansi']
values=['thirumala','venna','thirnna']
data = dict((zip(keys,values)).we can create list in dictionary and dictionary in a dictionary by prog.

In [ ]:
data ={1:'manasa',2:'vamsi',4:'mansi'}
data[2]

'vamsi'

In [ ]:
data = {1:'manasa',2:'vamsi',4:'mansi'}
data.get(1)
data.get(3,'not found')

'not found'

In [ ]:
keys=['manasa','vamsi','mansi']
values=['thirumala','venna','thirnna']
data = dict(zip(keys,values))
data

{'manasa': 'thirumala', 'vamsi': 'venna', 'mansi': 'thirnna'}

In [ ]:
keys=['manasa','vamsi','mansi']
values=['thirumala','venna','thirnna']
data = dict(zip(keys,values))
data['monika']= 'pathi'
data

{'manasa': 'thirumala',
 'vamsi': 'venna',
 'mansi': 'thirnna',
 'monika': 'pathi'}

In [ ]:
prog = {'JS':'atom','cs':'vs','python':['pycharm','sublime'],'java':{'JSE':'netbeans','JEE':'eclipse'}}
prog

{'JS': 'atom',
 'cs': 'vs',
 'python': ['pycharm', 'sublime'],
 'java': {'JSE': 'netbeans', 'JEE': 'eclipse'}}

In [ ]:
prog = {'JS':'atom','cs':'vs','python':['pycharm','sublime'],'java':{'JSE':'netbeans','JEE':'eclipse'}}
prog['python']

['pycharm', 'sublime']